.featureTile {
  background-color: #ffffff;
  width: 90%;
  min-height: 350px;
  margin: 40px auto;
  overflow: hidden;
}

.right-box {
  float: right;
  width: 50%;
  padding: 20px;
  height: auto;
  box-sizing: border-box;

}

.left-box {
  float: left;
  width: 50%;
  padding: 20px;
  height: auto;
  box-sizing: border-box;

}


.box-heading h2{
  color: #444;
  font-weight: 500;
  letter-spacing: 0.1em;
  display: inline-block;
  position: relative;
  margin: 0px 0px 70px 0px;
  font-size: 24px;
  font-family: Montserrat;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
}

.box-heading h2::after {
  position: absolute;
  border: 2px dashed red;
  bottom: 0;
  content: "";
  width: 80%;
  right: 10%;

}

.image-box{
  width: 80%;
  height: 80%;
}
