.featureTile {
  background-color: #ffffff;
  width: 90%;
  margin: 10px auto;
  display: block;
}

.text-content {
  margin: 40px 0;
  text-align: center;
}

.text-content h2{
  color: #444;
  font-weight: 500;
  letter-spacing: 0.1em;
  display: inline-block;
  position: relative;
  margin: 0px 0px 20px 0px;
  font-size: 20px;
  font-family: Montserrat;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.text-content h2::after {
  position: absolute;
  border: 1px dashed red;
  bottom: 0;
  content: "";
  width: 80%;
  right: 10%;
}

.image img{
  width: 90%;
  height: 100px;;
}


@media only screen and (min-width:1024px) {

  .featureTile {
    background-color: #ffffff;
    width: 95%;
    min-height: 350px;
    margin: 40px auto;
    overflow: hidden;
  }

  .feature-tiles div:nth-child(odd) .text-content {
    float: right;
    width: 50%;
    padding: 20px;
    height: auto;
    box-sizing: border-box;
  }

  .feature-tiles div:nth-child(odd) .image {
    float: left;
    width: 50%;
    padding: 20px;
    height: auto;
    box-sizing: border-box;
  }


  .feature-tiles div:nth-child(even) .text-content {
    float: left;
    width: 50%;
    padding: 20px;
    height: auto;
    box-sizing: border-box;
  }

  .feature-tiles div:nth-child(even) .image {
    float: right;
    width: 50%;
    padding: 20px;
    height: auto;
    box-sizing: border-box;
  }

  .text-content h2{
    position: relative;
    margin: 0px 0px 70px 0px;
    font-size: 25px;
    padding-bottom: 20px;
    text-align: left;
  }

  .text-content h2::after {
    position: absolute;
    border: 2px dashed red;
    bottom: 0;
    content: "";
    width: 80%;
    right: 10%;

  }

  .image img{
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
  }

}
