header {
  background-color: #464646;
  min-height: 70px;
  border-bottom: #da4d49 3px solid;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 30px;
  height: 150px;
  box-sizing: border-box;
  position: relative;
}

.header-title {
  color: #ffffff;
  padding: 10px 25px;
}

.header-nav {
  display: flex;
  color: white;

}

.header-nav ul {
  list-style: none;
}

.header-nav li {
  display: inline-block;
  padding:10px 10px;
  font-size: 17px;

}

.loginButton {
  background-color: none;
}


.signUpButton {
  background-color: #edeff2;
  padding: 5px 9px;
  color: black;
  border: 0.125rem solid transparent;
  width: 7.75rem;
  box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
  box-sizing: border-box;
}


.signUpButton:hover {
  cursor: pointer;
  background-color: #9ea3aa;
}


.loginButton:hover {
  cursor: pointer;
  color: #acafad;
}
