header {
  background-color: #35424a;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}


.header-container {
  width: 80%;
  margin: auto;
  overflow: hidden;

}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}



.header-title {
  float: left;
  padding: 20px;
  margin: 20px;
  color: #e8491d;
  font-weight: bold;
  font-size: 40px;
  font-family: "Tangerine",cursive;
  letter-spacing: 0.2em;
}


.header-elements {
  color: #ffffff;
  padding: 35px 20px 20px 20px;
  margin: 20px;
  float: right;
}

.header-userName {

}

.header-phoneNumber {

}
