.showcase {
  width: 100%;
  min-height: 1000px;
  background-image: url("/static/images/dance5.jpg");
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageContent {
    position: absolute;
    left: 75%;
    top: 70%;
    width: 20%;
    text-align: center;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}
